ion-content{
  --ion-background-color: -webkit-linear-gradient(to bottom, #91bba2, #b8cab8);
  --ion-background-color: linear-gradient(to bottom, #91bba2, #b8cab8);
}
#container{
  --ion-background-color: #fff;
}
#container ion-card-title, #titulo-pagina{
  text-align: center;
}
p {
  font-size: 17px;
  text-align: center;
}
@media screen and (max-width:320px) {
  ion-button{
    width:65px;
    font-size: 15px;
  }
  #titulo-pagina{
    font-size: 15px;
  }
}
