<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title id="titulo-pagina">
      <u>Lista de Partidos
        <ion-icon name="football-outline" slot="icon-only"></ion-icon>
      </u>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div id="container" *ngFor ="let partido of partidos">
    <ion-card>
      <ion-card-header>
         <ion-card-title>{{partido.equipoCasa}} <strong>VS</strong> {{partido.equipoVisitante}} </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col offset="2" size="2">
                <ion-avatar>
                  <ion-img  src="{{partido.logoEquipoCasa}}"></ion-img>
                </ion-avatar>
            </ion-col>
            <ion-col offset="4" size="4">
              <ion-avatar>
                <ion-img src="{{partido.logoEquipoVisitante}}"></ion-img>
              </ion-avatar>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 10px">
            <ion-col xs="4" size="6">
             <p>Estado: {{partido.estado}} </p>
            </ion-col>
            <ion-col offset="1">
              <ion-button color=success [routerLink] = "['./', partido.id]">Detalle</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
